node-red/flows.json
[
    {
        "id": "d5bd3292468249e7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c4ca483b17241810",
        "type": "mqtt-broker",
        "name": "aedes",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f9b31f6af32a9bc5",
        "type": "ui_tab",
        "name": "IoT in home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cdf80b09722d43cf",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d627fbc9f15f2a4c",
        "type": "ui_group",
        "name": "",
        "tab": "f9b31f6af32a9bc5",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b1a3db1695b2292",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "72ff62f03a4b9164",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "a616d6869a992045",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 6,
        "width": 7,
        "height": 1
    },
    {
        "id": "e1f9939a7c415f74",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "0c4af2f245e37358",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 9,
        "width": 7,
        "height": 1
    },
    {
        "id": "931ea7b965d67996",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "6477a8625eb6635f",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 11,
        "width": 7,
        "height": 1
    },
    {
        "id": "59d7b950607c086f",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 12,
        "width": 6,
        "height": 1
    },
    {
        "id": "5cd3c099307d14c0",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 13,
        "width": 7,
        "height": 1
    },
    {
        "id": "9f76935e7c980bda",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "380d7d6e93b960df",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 15,
        "width": 7,
        "height": 1
    },
    {
        "id": "c4e0070f625801c0",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "a3327f4585bce1e5",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 17,
        "width": 7,
        "height": 1
    },
    {
        "id": "3b8f987f60f6ae09",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "2d03c7b067e7fd56",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 19,
        "width": 7,
        "height": 1
    },
    {
        "id": "cfe5e96f73c9ab09",
        "type": "ui_spacer",
        "z": "d5bd3292468249e7",
        "name": "spacer",
        "group": "d627fbc9f15f2a4c",
        "order": 20,
        "width": 6,
        "height": 1
    },
    {
        "id": "3c47ac37b8f48dd6",
        "type": "mqtt in",
        "z": "d5bd3292468249e7",
        "name": "",
        "topic": "esp/Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c4ca483b17241810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 100,
        "wires": [
            [
                "f186c76a43aad600"
            ]
        ]
    },
    {
        "id": "a1c0c2e5d3925747",
        "type": "debug",
        "z": "d5bd3292468249e7",
        "name": "Temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "2dd27b24a38f8627",
        "type": "mqtt in",
        "z": "d5bd3292468249e7",
        "name": "",
        "topic": "esp/Light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c4ca483b17241810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "ee4d1e4ac081746d"
            ]
        ]
    },
    {
        "id": "b6869130f2554e93",
        "type": "debug",
        "z": "d5bd3292468249e7",
        "name": "Light",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 340,
        "wires": []
    },
    {
        "id": "39bb1f0df70e00e1",
        "type": "ui_text",
        "z": "d5bd3292468249e7",
        "group": "d627fbc9f15f2a4c",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temperature: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "fde44ef31adf7c05",
        "type": "ui_text",
        "z": "d5bd3292468249e7",
        "group": "d627fbc9f15f2a4c",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Light: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "f186c76a43aad600",
        "type": "function",
        "z": "d5bd3292468249e7",
        "name": "Conversion",
        "func": "var inputString = msg.payload;\nvar outputFloat = parseFloat(inputString);\n\nmsg.payload = outputFloat / 1000.0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 100,
        "wires": [
            [
                "b2e449246a627de2"
            ]
        ]
    },
    {
        "id": "b2e449246a627de2",
        "type": "link out",
        "z": "d5bd3292468249e7",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "7d767092057a4f09",
            "fbccba4d58e27e4b"
        ],
        "x": 525,
        "y": 100,
        "wires": []
    },
    {
        "id": "fbccba4d58e27e4b",
        "type": "link in",
        "z": "d5bd3292468249e7",
        "name": "link in 1",
        "links": [
            "b2e449246a627de2",
            "ee4d1e4ac081746d"
        ],
        "x": 625,
        "y": 60,
        "wires": [
            [
                "bf8a333d6fbc9555"
            ]
        ]
    },
    {
        "id": "7d767092057a4f09",
        "type": "link in",
        "z": "d5bd3292468249e7",
        "name": "link in 2",
        "links": [
            "b2e449246a627de2"
        ],
        "x": 625,
        "y": 120,
        "wires": [
            [
                "39bb1f0df70e00e1",
                "a1c0c2e5d3925747"
            ]
        ]
    },
    {
        "id": "bf8a333d6fbc9555",
        "type": "ui_chart",
        "z": "d5bd3292468249e7",
        "name": "",
        "group": "d627fbc9f15f2a4c",
        "order": 5,
        "width": 6,
        "height": 7,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "9075c128ba98efea",
        "type": "ui_chart",
        "z": "d5bd3292468249e7",
        "name": "",
        "group": "d627fbc9f15f2a4c",
        "order": 7,
        "width": 6,
        "height": 7,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ee4d1e4ac081746d",
        "type": "link out",
        "z": "d5bd3292468249e7",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "fbccba4d58e27e4b",
            "c65785d19a9138a2",
            "b9b9b883cb68d2f6"
        ],
        "x": 335,
        "y": 180,
        "wires": []
    },
    {
        "id": "b9b9b883cb68d2f6",
        "type": "link in",
        "z": "d5bd3292468249e7",
        "name": "link in 3",
        "links": [
            "ee4d1e4ac081746d"
        ],
        "x": 645,
        "y": 300,
        "wires": [
            [
                "fde44ef31adf7c05",
                "b6869130f2554e93"
            ]
        ]
    },
    {
        "id": "c65785d19a9138a2",
        "type": "link in",
        "z": "d5bd3292468249e7",
        "name": "link in 4",
        "links": [
            "ee4d1e4ac081746d"
        ],
        "x": 645,
        "y": 240,
        "wires": [
            [
                "9075c128ba98efea"
            ]
        ]
    }
]